.form-control {
  position: relative;
  top: 10px;
  left: 50%;
  width: 50%;
  margin-left: -25%;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #dbdbdb;
}
.search-result-list {
  margin: 35px auto;
  width: 50%;
  padding: 0;
  overflow: hidden;
}
.search-result-list a.search-result-title {
  color: #202020;
  font-weight: normal;
  font-size: 1.2rem;
}
.search-result-list p.search-result {
  color: #7b7b7b;
  font-size: 1rem;
}
.search-result-list .search-keyword {
  color: #ff5722;
  font-weight: bold;
  font-style: normal;
}
